.container{
    perspective: 1000px;
}
img{
    width: 300px;
    height: auto;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.container:hover img{
    -webkit-transform: rotateY('30deg');
    transform: rotateY('30deg');
}
.container:active img{
    -webkit-transform: rotateY('180deg');
    transform: rotateY('180deg');
}


